<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Us</title>
  <style>
    *{
      margin:0;
    }
    body{
      background-color: rgb(252, 242, 225);
    }
    h1{
      text-align: center;
      margin: 20px;
    }
  </style>
</head>
<body>
  <%- include('header'); -%>
  <h1>Page Under Construction</h1>
</body>
</html>