<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <style>
    *{
      margin:0;
      color:orange;
      font-family: 'Nunito', sans-serif;
    }
    header{
      background-color: #EEE9E4;
      margin:0;
      display: flex;
      font-weight: bold;
    }
    h3{
      padding:10px;
      display: inline-block;
      flex-basis: 70%;
      margin-left: 20px;
    }
    ul{
      list-style: none;
    }
    ul a li {
      display: inline-block;
      padding: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h3>Daily Blog</h3>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/compose"><li>Compose</li></a>
      <a href="/about"><li>About</li></a>
      <a href="/contact"><li>Contact Us</li></a>
    </ul>
  </header>
</body>
</html>